main {
	width: 100vw;
	height: 450px;
	background-image: url('../../../assets/main-banner.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	& > h1 > span {
		color: #d7f9ff;
	}
}
.heading {
	font-size: 50px;
	font-weight: 1000;
	margin: 0;
	padding: 100px;
	max-width: 45%;
	font-style: italic;
}
