@import '../../../_variables.scss';
.buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
form > div {
	justify-content: center;
}
h1 {
	text-align: center;
	color: $lighten-main;
}
h3 {
	text-align: center;
	color: #e84921;
	> a {
		cursor: pointer;
		text-align: center;
	}
}
form > a {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}
