$main-color: rgba(58, 178, 197, 0.88);
$lighten-main: #d7f9ff;

$background-color: #242424;
$darken-background-color: #1a1a1a;

$button-color: #5999a4;
$hover-button-color: lighten(#6a2727, 10%);

$green-button-color: #73c972;

$mobile: 480px;

