@import './_variables.scss';
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: $main-color;
	background-color: $background-color;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: $lighten-main;
	text-decoration: inherit;
}
a:hover {
	color: #ffffff;
	transition: 0.4s;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: $darken-background-color;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: $main-color;
		background-color: $background-color;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: $button-color;
	}
}

.wrapper-inner-page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: calc(100vh - 60px);
}
