@import '../../../_variables.scss';

.textItems {
	padding: 50px 0 0 50px;
	height: calc(100vh - 50px - 60px);
	backdrop-filter: blur(10px);

	& > h1 {
		text-align: start;
		letter-spacing: 2px;
		max-width: 60%;
		& > span {
			color: $lighten-main;
		}
	}
	& > h3 {
		width: 60%;
		text-align: start;
		color: $lighten-main;
		& > a {
			color: $main-color;
			&:hover {
				color: $green-button-color;
			}
		}
	}
}
@media screen and (max-width: 1024px) {
	.textItems {
		> h1 {
			max-width: 90%;
		}
		> h3 {
			width: 80%;
		}
	}
}
@media screen and (max-width: 425px) {
	.textItems {
		padding: 30px 20px;
		> h1 {
			max-width: 100%;
			font-size: 25px;
		}
		> h3 {
			width: 90%;
		}
	}
}
@media screen and (max-width: 320px) {
	.textItems {
		padding: 30px 20px;
		> h1 {
			max-width: 100%;
			font-size: 18px;
		}
		> h3 {
			width: 90%;
		}
	}
}
